.foto-img1, .foto-img2 {
  padding-top: 23px;
  width: 100%;
}

@media (min-width:801px) {
  .foto-img2 {
    display: none;
  }
}

@media (max-width:800px) {
  .foto-img1 {
    display: none;
  }
}