.header {
  display: grid;
  padding: 16px 24px 16px 24px;
  /* position: fixed; */
  width: 100%;
  /* position: absolute; */
  grid-template-areas:
    "header"
    "footer"
}

@media (max-width:800px) {
  .header-menu {
    display: grid;
    top: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width:801px) {
  .header {
    padding: 38px 11%;
  }

  .header-menu {
    display: grid;
    width: 100%;
    justify-items: stretch;
    justify-content: stretch;
    grid-area: header;
    /* z-index: 2; */
  }
}
