/* @font-face {
  font-family: montserrat-bold;
  src: url(../../fonts/montserrat-bold.ttf);
} */

@font-face {
  font-family: montserrat-regular;
  src: url(../../fonts/montserrat-regular.ttf);
}

:root {
  --text-primary: #fff;
  --text-secondary: #cbcbcb; /*бледно белый*/
  --bg-primary: #002650;
  --bg-primary-20: rgb(0,38,80,0.85);
  --bg-secondary: #0B0D12;
  --bg-secondary-10a: rgb(11,13,18,0.9);
  --bottom-primary: #006fb2; 
  --bottom-secondary: #828282;
  /* --bottom-secondary: rgba(255,255,255,0.5); прозрачный/бледно белый */
  --bottom-hover: #00aeff;
  --link-color: #00aeff; /*+ border*/
  --menu-bcg: #151A23;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar:vertical {
  height: 12px;
}
body::-webkit-scrollbar:horizontal {
  height: 12px;
}

body::-webkit-scrollbar {
  width:0.5rem !important;
  /* -webkit-appearance: none; */
}

body::-webkit-scrollbar-track {
  background-color: #0B0D12 !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #006fb2 !important;
  border-radius: 100px;
}

.page {
  scrollbar-width: thin;
  scrollbar-color:#006fb2 #0B0D12;
}

.page {
  font-size: 16px;
  line-height: 1.5;
  font-family: montserrat-regular, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

@media (min-width: 1300px) {
  .page {
    width: 1300px;
    margin: 0 auto;
  }
}
