.works {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: var(--bg-primary);
  font-size: 18px;
  text-align: center;
}

.works-title {
  margin: 0;
  padding: 24px 0;
}

@media (max-width: 800px) {
  .works {
    padding: 0 24px;
  }
  .works-title {
    font-size: 20px;
  }
}

@media (min-width: 801px) {
  .works {
    padding: 0 11%;
  }

  .works-title {
    font-size: 36px;
  }
}
/* ---------------- works-name ---------------- */
.works-name {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 2px solid var(--text-secondary);
}

.work-img {
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 100%;
}

.work-header {
  margin: 10px 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-template-columns: 30% 10% 50%;
}

.work-header-title {
  text-transform: uppercase;
  font-size: 16px;
  text-align-last: left;
}

.work-header-txt {
  font-size: 14px;
  text-align: right;
}

.work-header-arrow {
  cursor: pointer;
  fill: var(--bottom-primary);
}

.work-header-arrow:hover {
  fill: var(--bottom-hover);
}
